# Столбцы

## Объем сточных вод

In [121]:
import pandas as pd
df = pd.read_excel('Pril-Region_Pokaz_2024/Раздел 7 - Зем ресурсы и охр окр прир среды.xlsx', sheet_name=9, skiprows=5, skipfooter=3)
df.rename(columns={'Unnamed: 0':'Регион', '20142)':'2014'}, inplace=True)
df['Регион'] = df['Регион'].apply(lambda x: x.strip())
df.head()

,Регион,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Российская Федерация,20291.0,19773.0,19767.0,18961.0,18534.0,17727.0,17489.0,17176.0,17119.0,...,14697.77,14443.71,14744.16,13615.54,13162.10,12626.62,11796.78,11613.83,11340.93,10842.0
1,Центральный федеральный округ,4742.0,4692.0,5176.0,4478.0,4470.0,4341.0,4186.0,3870.0,3798.0,...,3328.34,3227.25,3211.62,3168.25,3056.91,2903.28,2834.41,2864.58,2677.18,2735.0
2,Белгородская область,45.0,13.0,6.0,10.0,11.0,11.0,11.0,8.0,11.0,...,66.83,61.46,73.64,70.54,70.46,68.84,65.90,60.56,58.60,58.0
3,Брянская область,100.0,99.0,96.0,94.0,92.0,89.0,96.0,94.0,85.0,...,61.56,57.60,57.92,55.12,53.78,50.75,49.69,51.40,52.06,53.0
4,Владимирская область,182.0,182.0,185.0,174.0,169.0,155.0,147.0,141.0,140.0,...,110.49,108.55,108.81,104.52,98.55,94.42,95.02,94.26,91.32,90.0

In [122]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Регион  98 non-null     object
 1   2000    94 non-null     float64
 2   2001    94 non-null     float64
 3   2002    94 non-null     float64
 4   2003    94 non-null     float64
 5   2004    94 non-null     float64
 6   2005    94 non-null     float64
 7   2006    94 non-null     float64
 8   2007    94 non-null     float64
 9   2008    94 non-null     float64
 10  2009    94 non-null     float64
 11  2010    94 non-null     float64
 12  2011    94 non-null     float64
 13  2012    94 non-null     float64
 14  2013    94 non-null     float64
 15  2014    94 non-null     float64
 16  2015    96 non-null     float64
 17  2016    96 non-null     float64
 18  2017    96 non-null     float64
 19  2018    96 non-null     float64
 20  2019    96 non-null     float64
 21  2020    96 non-null     float64
 22  2021    96 non-null     float64
 23  2022    96 non-null     float64
 24  2023    96 non-null     float64
dtypes: float64(24), object(1)
memory usage: 19.3+ KB

## Инвестиции

Инвестиции 2000-2008

In [123]:
data1 = pd.read_excel("data (1).xls", skiprows=2)
data1.drop(0, inplace=True)
data1.rename(columns={'Unnamed: 0':'Регион', 'Unnamed: 1':'Вид оос'}, inplace=True)
data1['Регион'] = data1['Регион'].apply(lambda x: x.strip())
data1.drop(data1.iloc[:, 2:11].columns, axis=1, inplace=True)
data1 = pd.DataFrame(data1.drop('Вид оос', axis=1).groupby(['Регион']).sum())
data1.reset_index(inplace=True)
data1

,Регион,2000,2001,2002,2003,2004,2005,2006,2007,2008
0,Агинский Бурятский округ (Забайкальский край),0,0,0,0,0,0,0,0,0
1,Алтайский край,176660,111590,67466,50114,38270,154492,132720,233201,211412
2,Амурская область,82424,105250,241408,284708,182344,126708,386298,889804,646375
3,Архангельская область,1733357.8,1874413,1626869,531838,891153,3766789.9,9456773,1890048,2801967
4,Астраханская область,44651.0,793168,162366,313248,286579,243264,579456,4889494,4530697
...,...,...,...,...,...,...,...,...,...,...
101,Чувашская Республика - Чувашия,73710.8,153887.8,164256.4,330051.6,126323,528896,264148,351113,114016
102,Чукотский автономный округ,0,0,0,0,0,0,0,0,0
103,Южный федеральный округ (по 2009 год),0,0,5036256.8,3137178.0,4282787,5520506.96,7378964.8,13050978.62,14075673.92
104,Ямало-Ненецкий автономный округ (Тюменская обл...,1089544.5,967014,1166899,2338938,830076,1467362,2153211,2344152.7,2985569.1
105,Ярославская область,1164418,947313,582445,321737,1089658,2224792,423730,1085910,1611450

Инвестиции 2009-2016

In [124]:
data2 = pd.read_excel("data (2).xls", skiprows=2)
data2.drop(0, inplace=True)
data2.drop(['Unnamed: 0', 'Unnamed: 2'], axis=1, inplace=True)
data2.rename(columns={'Unnamed: 1':'Регион', 'Unnamed: 3':'Вид оос'}, inplace=True)
data2['Регион'] = data2['Регион'].apply(lambda x: x.strip())
data2 = pd.DataFrame(data2.drop('Вид оос', axis=1).groupby(['Регион']).sum())
data2.reset_index(inplace=True)
data2

,Регион,2009,2010,2011,2012,2013,2014,2015,2016
0,Алтайский край,307775,188042,125760,849701,1543854,586894,718792,1009642
1,Амурская область,1269189,258229,1610459,3924288,2994667,1359580,1615146,1698224
2,Архангельская область,1781604.1,2050738,2843408,1052381,4146598,3199454,3975572.4,5109116.7
3,Архангельская область (кроме Ненецкого автоном...,0,0,0,811074,3853785,2018957,2900104.4,3550139.7
4,Астраханская область,2117091,6506574,4505678,23214194,12483621.8,1075159.78,1975977.4,858602.58
...,...,...,...,...,...,...,...,...,...
96,Южный федеральный округ (по 2009 год),10266997.5,0,0,0,0,0,0,0
97,Южный федеральный округ (с 2010 года),0,10230647.2,10388104.2,28181715.36,29386164.24,46667155.67,36643862.87,0
98,Южный федеральный округ (с 29.07.2016),0,0,0,0,0,0,0,18248614.1
99,Ямало-Ненецкий автономный округ (Тюменская обл...,8583498.94,6328659.24,5594323.1,5629791.2,3900555,9764715,18681889,19170058
100,Ярославская область,1987824,601039,661391.78,433229,836228.06,1439233.3,1788028.8,1908729.31

Инвестиции 2017-2023

In [125]:
data3 = pd.read_excel("data (3).xls", skiprows=2)
data3.drop(0, inplace=True)
data3.rename(columns={'Unnamed: 0':'Регион', 'Unnamed: 1':'Вид оос'}, inplace=True)
data3['Регион'] = data3['Регион'].apply(lambda x: x.strip())

In [126]:
data3 = pd.read_excel("data (3).xls", skiprows=2)
data3.drop(0, inplace=True)
data3.rename(columns={'Unnamed: 0':'Регион', 'Unnamed: 1':'Вид оос'}, inplace=True)
data3['Регион'] = data3['Регион'].apply(lambda x: x.strip())
data3.drop('2024', axis=1, inplace=True)
data3 = pd.DataFrame(data3.drop('Вид оос', axis=1).groupby(['Регион']).sum())
data3.reset_index(inplace=True)
data3

,Регион,2017,2018,2019,2020,2021,2022,2023
0,Алтайский край,177158.6,1499996,737426,693377,520729,575528,2247651
1,Амурская область,3202654,3662197,2434168,7291807,7520455,3508357,2883951
2,Архангельская область,13728049,3630022,2387827,17496503,18654370,3198926,3430390
3,Архангельская область (без АО),0,1373982,0,0,0,0,0
4,Архангельская область (кроме Ненецкого автоном...,9077923,2531498,2075759,13846375,18755549,2898495,2286387
...,...,...,...,...,...,...,...,...
134,Чувашская Республика - Чувашия,961636.47,1196739,769833,2767669,1939780,1177279,314596
135,Чукотский автономный округ,1646837,543841,651448,710223,89950,9990,800015
136,Южный федеральный округ (с 29.07.2016),11406071.62,12379246,18276482,20756066,52381274,64234514,60545789
137,Ямало-Ненецкий автономный округ (Тюменская обл...,52406040,22929709,29618308,15303209,191201596,94477915,105498709
138,Ярославская область,1825997.21,2372085,4670890,4537756,4521503,5632013,9917079

In [127]:
all_invest = pd.merge(data1, data2, how='outer', on='Регион')
all_invest = pd.merge(all_invest, data3, how='outer', on='Регион')

In [128]:
all_invest.sample(5)

,Регион,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
41,Ленинградская область,587950.8,1081763.4,1387768.8,4034230.7,5656959,3066890.8,5510181.7,4323053.9,3673245.6,...,68591844.48,1366673.0,49541797.4,31039378,32036700,25291040,23526790,4391037,4388312,9829591
16,Город Санкт-Петербург город федерального значения,490435.4,967744.4,1525012.8,3236043.2,5360112,18134312.6,9882963.4,8205394.6,13597944.4,...,15021383.1,24101825.6,28672259.0,24459274,26662425,13004495,18796854,21438182,11413665,29053267
141,Тюменская область (кроме Ханты-Мансийского авт...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15298034,4318199,4545893,7525544,3797546,3340385,15935233,2976761,2462814,2579635
139,Тюменская область,6680668.7,9511073,5481415,10447297,8439307,13421101,12132136,10583343.5,13866021.7,...,41801013,44300522,35173003,71866651,34514846,48166298,36610918,200703377,110218013,134896085
72,Нижегородская область,661879.3,447721.7,463243.0,1006467.4,798728,974285.3,1094366.5,1525075.8,2027776,...,8428897,2481988,2463752,2457780,6499686,6043753,20173534,12667200,26140958,33297386

In [129]:
all_invest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 160 entries, 0 to 159
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Регион  160 non-null    object
 1   2000    106 non-null    object
 2   2001    106 non-null    object
 3   2002    106 non-null    object
 4   2003    106 non-null    object
 5   2004    106 non-null    object
 6   2005    106 non-null    object
 7   2006    106 non-null    object
 8   2007    106 non-null    object
 9   2008    106 non-null    object
 10  2009    101 non-null    object
 11  2010    101 non-null    object
 12  2011    101 non-null    object
 13  2012    101 non-null    object
 14  2013    101 non-null    object
 15  2014    101 non-null    object
 16  2015    101 non-null    object
 17  2016    101 non-null    object
 18  2017    139 non-null    object
 19  2018    139 non-null    object
 20  2019    139 non-null    object
 21  2020    139 non-null    object
 22  2021    139 non-null    object
 23  2022    139 non-null    object
 24  2023    139 non-null    object
dtypes: object(25)
memory usage: 31.4+ KB

## Врп

In [130]:
vrp = pd.read_excel('Pril-Region_Pokaz_2024/Раздел 8 - Валовой региональный продукт.xlsx', sheet_name=1, skiprows=8)
vrp.rename(columns={'Unnamed: 0':'Регион'}, inplace=True)
vrp['Регион'] = vrp['Регион'].apply(lambda x: x.strip())
vrp.drop(['Unnamed: 24', 'Unnamed: 25'], axis=1, inplace=True)
vrp.head()

,Регион,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Валовой региональный продукт по субъектам Росс...,5753671.6,7170968.2,8741219.2,10742423.3,13964305.4,18034385.2,22492119.6,27963955.6,33908756.7,...,54103000.3,59188270.3,65750633.6,74120174.8,79745093.9,90202901.5,95060662.3,94410215.3,1.221997e+08,140670816.5
1,Центральный федеральный округ,1841498.9,2243525,2878664.5,3577142.5,4617086.1,6278359.2,7965169.5,10208917.7,12674395.4,...,19160905.7,20866362.0,22663758.1,25995587.5,27915455.0,31191756.5,33139758.1,34167817.7,4.159234e+07,47367524.5
2,Белгородская область,42074.5,49941.8,62404.4,76054.5,114409.3,144987.8,178846.1,237013.3,317656.3,...,569006.4,619677.7,693379.4,778027.8,837306.8,911597.9,955329.2,997330.9,1.359966e+06,1311232.6
3,Брянская область,24650.5,30110.3,37374.1,43700.3,51003.4,66692.3,82100.4,102706.2,125834.4,...,219502.8,242722.4,271782.5,316489.4,341177.8,367157.1,399113.8,414179.4,4.826694e+05,549347.1
4,Владимирская область,33017.7,42075.4,50359.9,61818.6,74207,86926.8,112841.7,146663.0,175395.7,...,306641.4,328064.2,368489.2,431549.8,449849.2,480027.8,535493.4,553092.4,7.303288e+05,780490.4

In [131]:
vrp_2023 = pd.read_excel("data (4).xls", skiprows=2)
vrp_2023.drop(0, inplace=True)
vrp_2023.drop('Unnamed: 1', axis=1, inplace=True)
vrp_2023.rename(columns={'Unnamed: 0':'Регион'}, inplace=True)
vrp_2023['Регион'] = vrp_2023['Регион'].apply(lambda x: x.strip())
vrp_2023

                                               Регион                 2023
1   Российская Федерация без учета новых субъектов...  157074172005.600006
2                       Центральный федеральный округ   54101687090.199997
3                                Белгородская область         1341408940.1
4                                    Брянская область          627017789.4
5                                Владимирская область          893416253.9
..                                                ...                  ...
92                                   Амурская область          793851883.1
93                                Магаданская область          403892851.2
94                                Сахалинская область         1624560679.7
95                       Еврейская автономная область          102215262.2
96                         Чукотский автономный округ          186709387.5

[96 rows x 2 columns]

In [132]:
all_vrp = pd.merge(vrp, vrp_2023, how='outer')

In [133]:
all_vrp.head()

,Регион,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Алтайский край,46736.8,61854.4,73107.4,88733.3,114840.5,135686.4,173810.5,223563.4,259343.1,...,446023.8,487903.3,532401.5,545303.0,579740.5,628146.1,664129.2,869672.1,944894.1,1024355444.3
1,Амурская область,26315.2,39052.8,45717.5,53199.9,64250.2,76861.2,95090.9,111761.2,131563.7,...,232053.0,277380.4,297531.0,299181.0,334164.4,395617.2,449317.5,548269.8,603837.3,793851883.1
2,Архангельская область,61806.9,67274.7,83158.8,103951.3,142564.7,166433.4,215932.7,268672.1,289755.9,...,542695.3,627698.1,713043.9,759206.5,865723.3,889974.4,781819.0,1080494.9,1188187.1,1263045017.7
3,Архангельская область (кроме Ненецкого автоном...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,761589555.9
4,Архангельская область без автономного округа,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,355685.5,400504.6,451271.4,493415.6,545317.6,558975.4,551144.7,671106.7,700172.7,NaN

In [134]:
all_vrp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 25 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Регион  117 non-null    object
 1   2000    92 non-null     object
 2   2001    92 non-null     object
 3   2002    92 non-null     object
 4   2003    92 non-null     object
 5   2004    92 non-null     object
 6   2005    92 non-null     float64
 7   2006    92 non-null     float64
 8   2007    92 non-null     float64
 9   2008    92 non-null     float64
 10  2009    92 non-null     float64
 11  2010    92 non-null     float64
 12  2011    94 non-null     float64
 13  2012    94 non-null     float64
 14  2013    94 non-null     float64
 15  2014    96 non-null     float64
 16  2015    96 non-null     float64
 17  2016    96 non-null     float64
 18  2017    96 non-null     float64
 19  2018    96 non-null     float64
 20  2019    96 non-null     float64
 21  2020    96 non-null     float64
 22  2021    96 non-null     float64
 23  2022    96 non-null     float64
 24  2023    96 non-null     object
dtypes: float64(18), object(7)
memory usage: 23.0+ KB

# Объединение датасета

In [135]:
df = df.melt(id_vars=['Регион'], var_name='Год', value_name='Объем_сточных_вод_млн_м3')
df = df[['Регион', 'Год', 'Объем_сточных_вод_млн_м3']]

In [136]:
all_invest = all_invest.melt(id_vars=['Регион'], var_name='Год', value_name='Инвестиции_в_ООС')
all_invest = all_invest[['Регион', 'Год', 'Инвестиции_в_ООС']]

In [137]:
all_vrp = all_vrp.melt(id_vars=['Регион'], var_name='Год', value_name='ВРП')
all_vrp = all_vrp[['Регион', 'Год', 'ВРП']]

In [138]:
all_df = pd.merge(pd.merge(df, all_invest, how='outer', on=['Регион', 'Год']), all_vrp, how='outer', on=['Регион', 'Год'])

In [139]:
all_df

,Регион,Год,Объем_сточных_вод_млн_м3,Инвестиции_в_ООС,ВРП
0,Агинский Бурятский округ (Забайкальский край),2000,NaN,0,NaN
1,Агинский Бурятский округ (Забайкальский край),2001,NaN,0,NaN
2,Агинский Бурятский округ (Забайкальский край),2002,NaN,0,NaN
3,Агинский Бурятский округ (Забайкальский край),2003,NaN,0,NaN
4,Агинский Бурятский округ (Забайкальский край),2004,NaN,0,NaN
...,...,...,...,...,...
6930,г. Севастополь,2021,24.32,NaN,187986.5
6931,г. Севастополь,2022,24.25,NaN,229692.9
6932,г. Севастополь,2023,21.00,NaN,NaN
6933,г. Севастополь,2014,NaN,NaN,NaN
6934,г. Севастополь,2023,NaN,NaN,NaN

In [140]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6935 entries, 0 to 6934
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Регион                    6935 non-null   object
 1   Год                       6935 non-null   object
 2   Объем_сточных_вод_млн_м3  2274 non-null   float64
 3   Инвестиции_в_ООС          2735 non-null   object
 4   ВРП                       2254 non-null   object
dtypes: float64(1), object(4)
memory usage: 271.0+ KB

# Дополнительные столбцы

**Территориальная принадлежность**
 - Округ - из столбцов Регион
**Использование воды**
 - 7.5. ИСПОЛЬЗОВАНИЕ СВЕЖЕЙ ВОДЫ (2000-2023)
 - 7.6. ОБЪЕМ ОБОРОТНОЙ И ПОСЛЕДОВАТЕЛЬНО ИСПОЛЬЗУЕМОЙ ВОДЫ (2000-2023)
 
**Фонды**
 - 9.3 СТЕПЕНЬ ИЗНОСА ОСНОВНЫХ ФОНДОВ (2001 - 2023)
 
**Загрязнение**
 - 7.7. СБРОС ЗАГРЯЗНЕННЫХ СТОЧНЫХ ВОД В ПОВЕРХНОСТНЫЕ ВОДНЫЕ ОБЪЕКТЫ
 
**Население**
 - Численность населения (2000-2023)
 - 1.11.СМЕРНОСТЬ НАСЕЛЕНИЯ В ТРУДОСПОСОБНОМ ВОЗРАСТЕ (2000-2023)

 - 1.10 Общие коэффициенты смертности (2000-2023) 

 - 1.12 Смертность населения (без показателя смертности от внешних причин) (2011-2023)
 
**Инвестиции**
 - Инвестиции на охрану окр природы (разные источники)
 - 10.1 ИНВЕСТИЦИИ В ОСНОВНОЙ КАПИТАЛ (2000-2023)
 
**Охрана окружающей природы**
 - Количество очистительных сооружений (из разных источников)  (https://fedstat.ru/indicator/34033) (2000-2024)
 
 
**Туризм**
 - 6.9.1. Численность российских туристов, отправленных туристскими фирмами, в туры по России (2002-2023)
 
**Здравоохранение**
 - 5.9.1 ЗАБОЛЕВАЕМОСТЬ на 1000 человек населения ПО ОСНОВНЫМ КЛАССАМ БОЛЕЗНЕЙ Некоторые инфекционные и паразитарные болезни(2004-2023)
 - 5.9.15. Травмы, отравления и некоторые другие последствия воздействия внешних причин (2004-2023)
 
**Сельское, лесное хозяйство, рыболовство и рыбоводство**
 - 13.41. УЛОВ РЫБЫ И ДОБЫЧА ДРУГИХ ВОДНЫХ БИОРЕСУРСОВ (2016-2023)
 - 13.40.ОСНОВНЫЕ ПОКАЗАТЕЛИ ПО ВИДУ ЭКОНОМИЧЕСКОЙ ДЕЯТЕЛЬНОСТИ «РЫБОВОДСТВО»)(2005-2023)
 
**Промышленность**
 - 12.2.7  Водоснабжение; водоотведение, организация сбора и утилизации отходов, деятельность по ликвидации загрязнений» в соответствии с ОКВЭД21 (2017-2023)

 - 12.8. ИНДЕКСЫ ПРОИЗВОДСТВА по виду экономической деятельности «Водоснабжение; водоотведение, организация сбора и утилизации отходов, деятельность по ликвидации загрязнений»  в соответствии с ОКВЭД21) (2015-2023)
 
**Коммунальные услуги**
 - 15.14. ОБЪЕМ КОММУНАЛЬНЫХ УСЛУГ НАСЕЛЕНИЮ (2000-2023)
 
**Цены и тарифы**
 - 20.11.9. Водоснабжение; водоотведение, организация сбора и утилизации отходов, деятельность по ликвидации загрязнений (2016-2023)